<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Music Vibe - Home</title>
<link rel="stylesheet" href="/Public/css/reproductor.css">
<link rel="stylesheet" href="/Public/css/home.css">
</head>
<body>
  <header>
    <h1>Music Vibe</h1>
  </header>
  <main>
    <h2>Bienvenido a Music Vibe</h2>
    <p>Tu reproductor de música favorito para disfrutar de tus canciones preferidas.</p>
    <div class="nav-buttons">
      <a href="/views/login.html">Iniciar Sesión</a>
      <a href="/views/play.html">Ir al Reproductor</a>
    </div>
    <div class="logo">
      <img src="/Public/img/TsUeQC.jpg" alt="">
    </div>
  
  </main>
</body>
</html>
